<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/../css/styles.css'>
    <title>Stores!</title>
  </head>
  <body>
    <div class='container-fluid'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <a href='/'><img src='/img/shoe.png' alt='shoe logo'></a>
        <div class='logo-words'>
          <h1>Shoes and Stores</h1>
          <h5>connecting shoes to stores</h5>
        </div>
      </div>

      {% if stores is not empty %}
        <h3>Stores</h3>
        <h5>Click on an store to edit</h5>
        {% for i in 0..stores|length - 1 %}
          <ul>
            <li>
              <form action='/stores/{{ stores[i].getId }}' method='post' class='inlineForm'>
                <input name='_method' type='hidden' value='delete'>
                <input type='submit' class='deleteLink' value='x'>
              </form>
              <a href='/stores/{{ stores[i].getId }}/edit'>{{ stores[i].getName }}</a> carries
              {{ brands[i]|length > 1 ? 'brands' : 'brand' }}
              {% for j in 0..brands[i]|length - 1 %}
                [<a href='/brands/{{ brands[i][j].getId }}'>{{ brands[i][j].getBrand }}</a>]
              {% endfor %}

            </li>
          </ul>
        {% endfor %}
      {% else %}
        <h3>No stores found</h3>
      {% endif %}

      <a href='/'>Home</a>
    </div>
  </body>
</html>
